body{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "aside"
    "searchBar"
    "productos"
    "paginador"
    "footer";
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;    
}

.bold{
    font-weight: 700;
    text-align: center;
}


nav{
    grid-area: header;
    text-align: center;
    background-color:  #195B8D;
    color: white;
    font-size: 150%;
    padding: 1%;
    font-weight: 700;
   
}

.searchBar{
    grid-area: searchBar;
    text-align: center;
    background-color: whitesmoke;
    color: #212431;
    padding-bottom: 1%;
    padding: 5px; /* Ajusta el espacio interno según tus necesidades */
 
    
}


.searchBlock{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left:10%;
    margin-right:10%;
    padding-left: 1%;
    padding-right: 1%;
   justify-content: space-between;
   align-items: center;
   
}

aside{
    grid-area: aside;
}

.asideBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.asideBar a {
    text-decoration: none;
    padding: 5%;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.asideBar a:hover {
    background-color: #ddd;
}

.logo{
    display: none;
}
.productos{
    grid-area: productos;
  padding-top: 1%;
  padding-bottom: 1%;
    justify-self: center;
    
}

.producto {
    display: flex;
    flex-direction:column;
    width: 80%;
    max-width: 400px;
    height: 400px;
    background-color: #195B8D;
    color: white;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    border-radius: 50px;
    border: 1px solid #212431;
    margin: 5%;
    

}



.img {
    width:  80%; 
    max-width: 300px; 
    height: auto;
    border-radius: 5%;
    transition: transform 0.3s ease-in-out;
    border: 1px solid black;
   
}
.img:hover {
    transform: scale(1.5); /* Puedes ajustar el valor según qué tan grande quieras que sea la imagen al pasar el mouse */
  }



.paginador{
    grid-area: paginador;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.paginador li {
    margin: 0 5px;
}

.paginador a {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.paginador a:hover {
    background-color: #ddd;
}

footer {
    grid-area: footer;
    background-color: #195B8D;
    color: white;
    text-align: center;
    padding: 1%;
    width: 100%;
}

.redes-sociales a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
  }

.productos .producto:not(:first-child) {
    display: none;
}

@media (min-width: 576px) {

   body {
    display: grid;
    grid-template-columns: 15% auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "header header header header"
    "searchBar searchBar searchBar searchBar"
    "aside productos productos productos"
    "aside productos productos productos"
    "paginador paginador paginador paginador"
    "footer footer footer footer" ;
 

}

aside{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2em;
}

.asideBar {
    display: flex;
    flex-direction: column;

}
.asideBar li {
    margin-top: 10%;
    margin-bottom: 30%;

}



.productos .producto:not(:first-child) {
    display: flex; 
}


.productos{
    grid-area: productos;
    display: grid;
    grid-template-columns: auto auto auto auto;
}


.producto{
    grid-template-areas: producto;
}

.comprar {
    padding: 4% 10%;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;

}

.comprar:hover {
    background-color: #ddd;
}

.logo{
    display: block;
}


}




 




